<div class="container-fluid">
    <div class="row page-title align-items-center">
        <div class="col-md-3 col-xl-6">
            <h2 class="mb-1 mt-0">liste Projets</h2>
            <i class="x" (click)="goToHome()"> </i>

        </div>
        <div class="col-md-9 col-xl-6 text-md-right">
            <div class="mt-4 mt-md-0" *ngIf="currentUser.role == 'Admin' || currentUser.role == 'Admin' ">
                <button type="button" (click)="goToAdd()" class="btn btn-soft-primary mr-4 mb-3  mb-sm-0"><i class="uil-plus mr-1"></i> Ajouter
            Projet</button>
                <button type="button" class="btn btn-rounded btn-danger float-right" (click)="goToHome()"><i class="x"></i> X
            </button>
            </div>
            <div class="float-right">

            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Project Name</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Client</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let project of dataSource">
                                    <td>{{project.id}}</td>
                                    <td>{{project.projectName}}</td>
                                    <td>{{project.description}}</td>
                                    <td>{{project.dateDebut}}</td>
                                    <td>{{project.dateFin}}</td>
                                    <td>{{project.client.firstname}}</td>
                                    <td><button (click)="deleteProject(project.id)" class="btn btn-danger">Delete</button>
                                        <button (click)="projectDetails(project.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>-->

    <div class="row">
        <div class="col-xl-4 col-lg-6" *ngFor="let project of dataSource">
            <div class="card">
                <div class="card-body">

                    <h5>
                        <div class="badge  badge-success float-right " [ngClass]="{
                    'badge-soft-success': project.status === 'Completed',
                    'badge-soft-info': project.status ==='In Progress',
                    'badge-soft-warning': project.status === 'Pending'}">
                            {{ project.status }}</div>
                    </h5>

                    <p class=" text-uppercase font-size-15 mb-2" [ngClass]="{
                        'text-success': project.status === 'Completed',
                        'text-info': project.status ==='In Progress',
                        'text-warning': project.status === 'Pending'}">{{ project.type }}</p>


                    <h3 cl><a href="javascript: void(0)" class="text-dark">{{ project.projectName }}</a></h3>
                    <p class="text-muted mb-4">{{ project.description }}</p>

                    <div>
                        Nom Client : {{project.client.firstname}}

                    </div>
                </div>
                <div class="card-body border-top">
                    <div class="row align-items-center">
                        <div class="col-sm-auto">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item pr-2">
                                    <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip=" Start Date">
                                        <i class="uil uil-calender mr-1"></i> {{ project.dateDebut| date:'yyyy-MM-dd' }}
                                    </a>
                                </li>
                                <li class="list-inline-item pr-2">
                                    <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="End Date">
                                        <i class="uil uil-calender mr-1"></i> {{ project.dateFin| date:'yyyy-MM-dd' }}
                                    </a>
                                </li>
                                <div class="float-right">
                                    <i class=" uil uil-trash mr-2 " (click)="deleteProject(project.id)"> </i>
                                    <i class="uil uil-edit-alt mr-2 float-lg-right " (click)="projectDetails(project.id)"></i>
                                </div>

                                <div class="badge" [ngClass]="{
                                    'badge-soft-success': project.status === 'High',
                                    'badge-soft-info': project.status ==='Low',
                                    'badge-soft-warning': project.status === 'Medium'}">
                                    {{ project.priorite }}</div>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
    </div>


</div>