<!-- <h3>
    Create Absence</h3>


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <form (ngSubmit)="onSubmit()" class="form-horizontal">
                        <div class="row">
                            <div class="col">



                                <div class="form-group row">

                                    <label class="col-lg-2 col-form-label" for="name"> Type</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" [(ngModel)]="absence.type" name="type">
                                        <option *ngFor="let type of typeAbsence" [ngValue]="type">
                                            {{type}}
                                        </option>
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Start Date</label>
                                    <div class="col-lg-10">
                                        <input type="date" class="form-control" id="startDate" required [(ngModel)]="absence.startDate" name="startDate" [value]="absence.startDate | date:'yyyy-MM-dd'">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label style="height: 48px;" class="col-lg-2 col-form-label" for="name">End Date </label>

                                    <div class="col-lg-10">
                                        <input type="date" class="form-control" id="endDate" required [(ngModel)]="absence.endDate" name="endDate" [value]="absence.endDate | date:'yyyy-MM-dd'">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name"> Status</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" [(ngModel)]="absence.status" name="status">
                                            <option *ngFor="let stat of status" [ngValue]="stat">
                                                {{stat}}
                                            </option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                    <div [hidden]="!submitted">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="container-fluid">
    <div class="row page-title align-items-center">

        <div class="col-md-3 col-xl-5">

            <h4 class="mb-1 mt-0"> Add Absence </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">


                    <form (ngSubmit)="onSubmit()" novalidate="" class="ng-untouched ng-pristine ng-valid">
                        <div class="col-md-5">
                            <div class="form-group"><label>Employée<span  class="text-danger">*</span></label>

                                <select class="form-control " [(ngModel)]="absence.user " name="user ">
                            <option *ngFor="let user of users " [ngValue]="user ">
                                {{user.firstname}}
                            </option>
                        </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group"><label> Type <span  class="text-danger">*</span></label>
                                <select class="form-control" id="type" formControlName="name" required [(ngModel)]="absence.type" name="type" [value]="absence.type">
                                            <option *ngFor="let type of typeAbsence">{{type}}</option>
                                        
                                        </select>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group"><label>Start Date<span  class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="dateDebut" required [(ngModel)]="absence.startDate" [value]="absence.startDate| date:'yyyy-MM-dd'" name="dateDebut">
                                <!---->

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group"><label>End Date<span  class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="dateFin" required [(ngModel)]="absence.endDate" [value]="absence.endDate | date:'yyyy-MM-dd'" name="dateFin">

                                <!---->
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group"><label>Status <span  class="text-danger">*</span></label>
                                <select class="form-control" id="status" formControlName="name" required [(ngModel)]="absence.status" name="status" [value]="absence.status">
                                    <option *ngFor="let status of status">{{status}}</option>
                                    
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label> Reason <span  class="text-danger">*</span></label>
                                <textarea input type="text" class="form-control" id="reason" required [(ngModel)]="absence.reason" name="reason" placeholder="Enter your reason here" rows="4"></textarea></div>
                        </div>

                        <div class="col-md-12">
                            <div class="m-t-20 text-center">
                                <!---->
                                <button class="btn btn-primary" type="submit">Add </button></div>
                        </div>
                    </form>
                    <div [hidden]="!submitted">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>