<!-- <div class="container-fluid">
    <div class="row page-title align-items-center">

        <div class="col-md-3 col-xl-6">

            <h4 class="mb-1 mt-0">Task details </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <form (ngSubmit)="onSubmit()" class="form-horizontal">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">TaskName</label>
                                    <div class="col-lg-10">

                                        <input type="text" class="form-control" id="taskName" required [(ngModel)]="task.taskName" name="taskName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Date</label>
                                    <div class="col-lg-10">

                                        <input type="date" class="form-control" id="date" required [(ngModel)]="task.date" name="date" [value]="task.date | date:'yyyy-MM-dd'">
                                    </div>
                                </div>
                                <div class=" form-group row ">
                                    <label class="col-lg-2 col-form-label " for="name ">Status</label>
                                    <div class="col-lg-10 ">
                                        <select class="form-control " [(ngModel)]="task.status " name="status ">
                                            <option selected> todo </option>
                                            <option>inprogress</option> 
                                            <option>review</option>
                                            <option>done</option> 
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <label class="col-lg-2 col-form-label " for="name ">Priorité</label>
                                    <div class="col-lg-10 ">
                                        <select class="form-control " [(ngModel)]="task.priorite " name="priorite ">
                                            <option selected> Low </option>
                                            <option>Normal</option> 
                                            <option>Medium</option> 
                                            <option>High</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-lg-2 col-form-label " for="name "> Employée</label>
                                    <div class="col-lg-10 ">

                                        <select class="form-control " [(ngModel)]="task.user " name="user ">
                                    <option *ngFor="let user of users " [ngValue]="user ">
                                        {{user.firstname}}
                                    </option>
                                </select>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-lg-2 col-form-label " for="name "> Projet</label>
                                    <div class="col-lg-10 ">

                                        <select class="form-control " [(ngModel)]="task.project " name="projet ">
                                    <option *ngFor="let prj of projects " [ngValue]="prj ">
                                        {{prj.projectName}}
                                    </option>
                                </select>
                                    </div>
                                </div>


                            </div>
                            <div class="col ">
                            </div>
                        </div>
                        <button type="submit " class="btn btn-success ">Submit</button>

                    </form>
                    <div [hidden]="!submitted ">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

<div class="container-fluid">
    <div class="row page-title align-items-center">

        <div class="col-md-3 col-xl-6">

            <h4 class="mb-1 mt-0">Modifier Tâche </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">

                    <form novalidate="" (ngSubmit)="onSubmit()" class="form-horizontal">
                        <button type="button" class="btn btn-rounded btn-danger float-right" (click)="goToHome()"><i class="x"></i> X
                        </button>
                        <div class="row">
                            <div class="col-md-5">
                                <label class="form-group" for="name">Nom Tâche</label>

                                <input type="text" class="form-control" id="taskName" required [(ngModel)]="task.taskName" name="taskName">
                            </div>


                        </div>
                        <br>
                        <div class="row">

                            <div class="col-md-5">
                                <div class="form-group"><label>Date Fin</label>
                                    <input type="date" class="form-control" id="date" required [(ngModel)]="task.date" [value]="task.date | date:'yyyy-MM-dd'" name="date">
                                    <!---->
                                    <div class="selectiongroup">
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group" for="name "><label>Status<span  class="text-danger">*</span></label>
                                    <select class="form-control " [(ngModel)]="task.status " name="status ">
                                        <option selected> à faire </option>
                                        <option>en attente</option> 
                                        <option>review</option>
                                        <option>terminé</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" for="name "><label>Priorité<span  class="text-danger">*</span></label>
                                    <select class="form-control" [(ngModel)]="task.priorite " name="priorite">
                                        <option selected> faible </option>
                                        <option>Normal</option> 
                                        <option>Moyen</option> 
                                        <option>Haute</option></select></div>


                            </div>
                            <div class="col-md-5">
                                <div class="form-group"><label>Employée</label>

                                    <select class="form-control " [(ngModel)]="task.user " name="user ">
                                <option *ngFor="let user of users " [ngValue]="user ">
                                    {{user.firstname}}
                                </option>
                            </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group"><label> Projet</label>

                                    <select class="form-control " [(ngModel)]="task.project " name="projet ">
                                <option *ngFor="let prj of projects " [ngValue]="prj ">
                                    {{prj.projectName}}
                                </option>
                            </select>
                                </div>
                            </div>
                        </div>




                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                        </div>
                    </form>
                    <div [hidden]="!submitted">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>