<div class="container-fluid ">
    <div class="row page-title align-items-center">

        <div class="col-md-3 col-xl-6">

            <h4 class="mb-1 mt-0"> Modifier Client</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6 ">
            <div class="card-box center">
                <div class="card-body">
                    <div class="modal-body">
                        <div class="m-b-30">
                            <form novalidate="" (ngSubmit)="onSubmit()" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"><label class="control-label">Prénom<span  class="text-danger">*</span></label><input class="form-control " name="firstName" required [(ngModel)]="client.firstname" type="text"></div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group"><label class="control-label">Nom<span  class="text-danger">*</span></label><input class="form-control " name="lastName" required [(ngModel)]="client.lastname" type="text"></div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group"><label class="control-label">Email <span  class="text-danger m-l-6">*</span></label><input class="form-control " name="email" required [(ngModel)]="client.email" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,6})"
                                                required [(ngModel)]="client.firstname" type="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group"><label class="control-label">Adresse<span  class="text-danger">*</span></label><input required [(ngModel)]="client.address" class="form-control " name="address" required [(ngModel)]="client.firstname" type="text"></div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group"><label class="control-label">Tel <span  class="text-danger">*</span></label>
                                            <input class="form-control unit-cost " required [(ngModel)]="client.phone" name="mobile" pattern="(\d{10}|\d{12})" required [(ngModel)]="client.firstname" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                <br> <br>

                                <div class="m-t-20 text-center">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button></div>
                            </form>
                            <div [hidden]="!submitted">
                                <h6>You submitted successfully!</h6>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>