<div class="container-fluid">

    <div class="row page-title align-items-center">
        <div class="col-md-3 col-xl-6">
            <h4 class="mb-3 mt-2">Ajouter Absence</h4>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="row">
                        <div class="col">
                            <div class=" row filter-row">
                                <div class="col-sm-2 col-md-2 col-md-2">
                                    <div class="form-group form-focus">

                                        <label class="form-group " for="name">Employée<span  class="text-danger">*</span></label>
                                        <div class="col-xs-6">
                                            <select class="form-control " [(ngModel)]="absence.user " name="user ">
                                    <option *ngFor="let user of users " [ngValue]="user ">
                                        {{user.firstname}}
                                    </option>
                                </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-md-2">
                                    <div class="form-group form-focus">
                                        <label class="form-group" for="name">Type<span  class="text-danger">*</span></label>
                                        <div class="col-xs-6">
                                            <select class="form-control" [(ngModel)]="absence.type" name="type">
                                            <option *ngFor="let type of typeAbsence" [ngValue]="type">
                                                {{type}}
                                            </option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-md-2">
                                    <div class="form-group form-focus">

                                        <label class="form-group" for="name">Date Début<span  class="text-danger">*</span></label>
                                        <div class="col-xs-6">
                                            <input type="date" class="form-control" id="startDate" required [(ngModel)]="absence.startDate" name="startDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-md-2">
                                    <div class="form-group form-focus">

                                        <label class="form-group" for="name">Date Fin <span  class="text-danger">*</span></label>
                                        <div class="col-xs-6">
                                            <input type="date" class="form-control" id="endDate" required [(ngModel)]="absence.endDate" name="endDate">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-2 col-md-2">
                                    <div class="form-group form-focus">

                                        <label class="form-group" for="name"> Status<span  class="text-danger">*</span></label>
                                        <div class="col-xs-6">
                                            <select class="form-control" [(ngModel)]="absence.status" name="status">
                                            <option *ngFor="let stat of status" [ngValue]="stat">
                                                {{stat}}
                                            </option>
                                        </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-2 col-md-2 col-md-2">
                                    <div class="form-group form-focus">

                                        <label class="form-group" for="name">Raison </label>
                                        <div class="col-xs-6">
                                            <input type="text" class="form-control" id="reason" required [(ngModel)]="absence.reason" name="reason">
                                        </div>
                                    </div>
                                </div>
                            </div> <button type="submit" class="btn btn-soft-primary btn-lg float-right ">Ajouter</button>

                        </div>
                    </div>

                </form>
                <div [hidden]="!submitted">
                    <h4>You submitted successfully!</h4>
                    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- end card-body -->
    <!-- end card-->





    <div class="container-fluid">
        <div class="row page-title align-items-center">
            <div class="col-md-3 col-xl-6">
                <h4 class="mb-1 mt-0"> Liste des absences</h4>
            </div>

        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th scope="col">Employée</th>
                                    <th scope="col">Type</th>

                                    <th scope="col"> Date Début</th>
                                    <th scope="col">Date Fin</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Raison</th>

                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let absence of dataSource">
                                    <td>{{absence.id}}</td>
                                    <td>{{absence.user.firstname}}</td>

                                    <td>{{absence.type}}</td>
                                    <td>{{absence.startDate| date:'yyyy-MM-dd'}}</td>
                                    <td>{{absence.endDate| date:'yyyy-MM-dd'}}</td>
                                    <td>{{absence.status}}</td>
                                    <td>{{absence.reason}}</td>

                                    <td><button (click)="deleteAbsence(absence.id)" class="btn btn-soft-danger">Supprimer</button>
                                        <button (click)="absenceDetails(absence.id)" class="btn btn-soft-warning" style="margin-left: 10px">Modifier</button>
                                        <button class="btn btn-soft-success" style="margin-left: 10px">Soumettre</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>