<div class="container-fluid">
    <div class="row page-title align-items-center">
        <div class="col-md-3 col-xl-6">
            <h4 class="mb-1 mt-0">Liste de Tâches</h4>
        </div>
        <div class="col-md-9 col-xl-6 text-md-right">
            <div class="mt-4 mt-md-0">
                <button type="button" (click)="goToAdd()" class="btn btn-soft-primary mr-4 mb-3  mb-sm-0"><i class="uil-plus mr-1"></i> Ajouter </button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Date Fin</th>
                                    <th>Status</th>
                                    <th>Priorité</th>
                                    <th *ngIf="currentUser.role == 'Manager'||currentUser.role == 'Admin'||currentUser.role == 'Responsable'">Employée</th>
                                    <th>Projet</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of dataSource">
                                    <td>{{task.id}}</td>
                                    <td>{{task.taskName}}</td>
                                    <td>{{ task.date | date:'yyyy-MM-dd'}}</td>
                                    <td>{{task.status}}</td>
                                    <td>{{task.priorite}}</td>
                                    <td *ngIf="currentUser.role == 'Manager'||currentUser.role == 'Admin'||currentUser.role == 'Responsable'">{{task.user.firstname}}</td>
                                    <td>{{task.project.projectName}}</td>

                                    <td><button (click)="deleteTask(task.id)" class="btn btn-soft-danger">Supprimer</button>
                                        <button (click)="taskDetails(task.id)" class="btn btn-soft-info" style="margin-left: 10px">Modifier</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>