<!-- <div class="container-fluid">
    <div class="row page-title align-items-center">

        <div class="col-md-3 col-xl-6">

            <h4 class="mb-1 mt-0">Create Project </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <form (ngSubmit)="onSubmit()" class="form-horizontal">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Project Name</label>
                                    <div class="col-lg-10">

                                        <input type="text" class="form-control" id="projectName" required [(ngModel)]="project.projectName" name="projectName">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Description</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="description" required [(ngModel)]="project.description" name="description">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Start Date</label>
                                    <div class="col-lg-10">
                                        <input type="date" class="form-control" id="dateDebut" required [(ngModel)]="project.dateDebut" name="dateDebut" [value]="project.dateDebut | date:'yyyy-MM-dd'">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">End Date </label>
                                    <div class="col-lg-10">
                                        <input type="date" class="form-control" id="dateFin" required [(ngModel)]="project.dateFin" [value]="project.dateFin | date:'yyyy-MM-dd'" name="dateFin">
                                    </div>
                                </div>
                                <div class=" form-group row ">
                                    <label class="col-lg-2 col-form-label " for="name ">Status</label>
                                    <div class="col-lg-10 ">
                                        <select class="form-control " [(ngModel)]="project.status " name="status ">
                                            <option selected> Completed </option>
                                            <option>In Progress</option> 
                                            <option>Pending</option> 
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <label class="col-lg-2 col-form-label " for="name ">Type</label>
                                    <div class="col-lg-10 ">
                                        <select class="form-control " [(ngModel)]="project.type " name="type ">
                                            <option selected> WEB DESIGN </option>
                                            <option>ANDROID</option> 
                                            <option>WEB Development</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name"> Clients</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" [(ngModel)]="project.client" name="client">
                                        <option *ngFor="let clt of clients" [ngValue]="clt">
                                            {{clt.firstname}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                    <div [hidden]="!submitted">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="container-fluid">
    <div class="row page-title align-items-center">

        <div class="col-md-3 col-xl-6">

            <h4 class="mb-1 mt-0">Ajouter Projet </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">

                    <form novalidate="" (ngSubmit)="onSubmit()" class="form-horizontal">

                        <button type="button" class="btn btn-rounded btn-danger float-right" (click)="goToHome()"><i class="x"></i> X
                        </button>
                        <div class="row">

                            <div class="col-md-6">
                                <label class="form-group" for="name">Nom Projet<span  class="text-danger">*</span></label>

                                <input type="text" class="form-control" id="projectName" required [(ngModel)]="project.projectName" name="projectName">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <label class="form-group" for="name"> Clients<span  class="text-danger">*</span></label>
                                <select class="form-control" [(ngModel)]="project.client" name="client">
                                    <option *ngFor="let clt of clients" [ngValue]="clt">
                                        {{clt.firstname}}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"><label> Date Début<span  class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="dateDebut" required [(ngModel)]="project.dateDebut" [value]="project.dateDebut| date:'yyyy-MM-dd'" name="dateDebut">
                                    <!---->
                                    <div class="selectiongroup">

                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label> Date Fin<span  class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="dateFin" required [(ngModel)]="project.dateFin" [value]="project.dateFin | date:'yyyy-MM-dd'" name="dateFin">
                                    <!---->
                                    <div class="selectiongroup">
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group " for="name "><label>Type<span  class="text-danger">*</span></label>
                                    <select class="form-control " [(ngModel)]="project.type " name="type ">
                                        <option selected> WEB DESIGN </option>
                                        <option>ANDROID</option> 
                                        <option>WEB Development</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" for="name "><label>Status<span  class="text-danger">*</span></label>
                                    <select class="select form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="project.status " name="status ">
                                        <option selected> terminé </option>
                                        <option>En cours</option> 
                                        <option>En attente</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label>Priorité<span  class="text-danger">*</span></label>
                                    <select class="form-control" [(ngModel)]="project.priorite " name="priorite">
                                        <option selected >Haute</option>
                                        <option  >Moyen</option>
                                        <option  >Faible</option></select></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <div class="form-group"><label>Responsable</label><input class="form-control ng-untouched ng-pristine ng-valid" name="leader" type="text"></div>
                                 -->
                                 <div class="form-group"><label>Responsable<span  class="text-danger">*</span></label>

                                    <select class="form-control " [(ngModel)]="project.responsable " name="user ">
                                <option *ngFor="let manager of managers" [ngValue]="manager ">
                                    {{manager.firstname}}
                                </option>
                            </select>
                            </div>
                            </div>

                        </div>
                   <!--      <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"><label>Manager</label><input class="form-control" type="text"></div>
                            </div>

                        </div> -->
                        <div class="form-group">
                            <label>Description<span  class="text-danger">*</span></label>
                            <textarea input type="text" class="form-control" id="description" required [(ngModel)]="project.description" name="description" placeholder="Enter your message here" rows="4"></textarea>
                        </div>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary" type="submit">Créer Projet</button>
                        </div>
                    </form>
                    <div [hidden]="!submitted">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>