<div class="container-fluid">
    <div class="row page-title align-items-center">

        <div class="col-md-3 col-xl-6">

            <h4 class="mb-1 mt-0">Edit Employee </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" class="m-b-30 ng-untouched ng-pristine ng-valid" novalidate="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">First Name </label><input class="form-control ng-untouched ng-pristine ng-valid" name="firstName" required [(ngModel)]="user.firstname" type="text"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">Last Name</label><input class="form-control ng-untouched ng-pristine ng-valid" required [(ngModel)]="user.lastname" name="lastName" type="text"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">Username </label><input class="form-control ng-untouched ng-pristine ng-valid" name="userName" required [(ngModel)]="user.username" type="text"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-success"><label class="control-label">Email </label><input class="form-control ng-untouched ng-pristine ng-valid" name="email" required [(ngModel)]="user.email" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})"
                                        required="" type="email">
                                    <!---->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">Password</label>
                                    <input class="form-control ng-untouched ng-pristine ng-valid" id="password" name="password" required [(ngModel)]="user.password" type="password"></div>
                            </div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label class="control-label">Birthday </label>
                                    <input type="date" class="form-control" id="birthday" required [(ngModel)]="user.birthday" [value]="user.birthday| date:'yyyy-MM-dd'" name="date">
                                    <!---->
                                    <div class="selectiongroup">

                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">Gendar</label>
                                    <select class="select form-control ng-untouched ng-pristine ng-valid" required [(ngModel)]="user.gendar" name="gendar">
                                        <option value="Admin">Male</option>
                                        <option value="Manager">Female</option>
                                        

                                    </select></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">Address </label><input class="form-control ng-untouched ng-pristine ng-valid" required [(ngModel)]="user.address" name="Address" required="" type="text"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Phone </label>
                                    <input class="form-control unit-cost ng-untouched ng-pristine ng-valid" required [(ngModel)]="user.phone" name="phone" pattern="(\d{10}|\d{12})" required="" type="text">
                                    <!---->
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label class="control-label">Joining date</label>
                                    <input type="date" class="form-control" id="date" required [(ngModel)]="user.date" [value]="user.date| date:'yyyy-MM-dd'" name="date">
                                    <!---->
                                    <div class="selectiongroup">

                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">Role</label>
                                    <select class="select form-control ng-untouched ng-pristine ng-valid" required [(ngModel)]="user.role" name="role">
                                        <option value="Admin">Admin</option>
                                        <option value="Manager">Manager</option>
                                        <option value="RH">RH</option>
                                        <option value="Employee">Employee</option>

                                    </select></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="control-label">Poste</label>
                                    <select class="select form-control ng-untouched ng-pristine ng-valid" required [(ngModel)]="user.poste" name="poste">
                                        <option value="Web Developer">Web Developer</option>
                                        <option value="Web Designer">Web Designer</option>
                                        </select></div>
                            </div>

                        </div>

                        <div class="m-t-20 text-center">
                            <!----><button class="btn btn-primary" type="submit">Save Changes</button></div>
                    </form>
                    <div [hidden]="!submitted">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <h3> Employee details</h3>


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <form (ngSubmit)="onSubmit()" class="form-horizontal">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Email</label>
                                    <div class="col-lg-10">

                                        <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Username</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
                                    </div>
                                </div>

                             
                                

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">First Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname" name="firstname">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="name">Last Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastname" name="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                    <div [hidden]="!submitted">
                        <h4>You submitted successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->